# Verification

For security and privacy reasons, some third parties require a rigorous verification process to demonstrate that your business has a legitimate use case. Make tries to support customers as much as possible in this process. That said, many of the requirements are beyond the scope of Make's control. In general, the verification process may involve the following:

* Rejection
  * Sometimes third-party feedback provides the specific required changes. Sometimes waiting several months and reapplying is successful. In general, you might be at the whims of the individual reviewing your verification.
* One month or more to get approval depending on the third party
* Ongoing compliance to maintain verified status
* Unexpected changes by third parties
* Screencasts to demonstrate the user experience and use of user data and why you need the scopes and permissions you're requesting.
* Publicly accessible privacy policy and/or similar notices
* Independent security audits of your platform
* Granting end-user level access to your instance for review purposes

Because the verification can sometimes take months, we recommend starting at your earliest convenience.

### Google

Google flags your app as unverified until you complete their process. This means that your end users see a warning that your app is unverified. Here are some helpful links:

* [An overview of what Google means by 'unverified app'](https://support.google.com/cloud/answer/7454865?hl=en) - includes general information about the verification process.
* [A comprehensive resource about the process](https://support.google.com/cloud/answer/13463073?visit_id=638574210195126360-2125701473\&hl=en\&rd=1) - includes FAQs
* [Steps to prepare for verification](https://saml-doc.okta.com/SAML_Docs/How-to-Configure-SAML-2.0-for-Dropbox.html?baseAdminUrl)
* [Google developer's documentation](https://developers.google.com/apps-script/guides/client-verification)
* You contact Google for assistance at **oauth-feedback@google.com**

### Meta

Meta's App review process requires you to demonstrate legitimate and responsible use of end-user data. Business verification, a separate process that confirms the authenticity of your company, may be required as well. Our recommended best practice is to use your company's business Facebook/Meta account for creating and developing your app in Meta.

* [App review](https://developers.facebook.com/docs/resp-plat-initiatives/individual-processes/app-review) - overview of the process with a quick video explanation
* [Access verification](https://developers.facebook.com/docs/development/release/access-verification) - the process for getting technical access to Meta's API
* [Business verification](https://developers.facebook.com/docs/development/release/business-verification) - the process for confirming that your company is a legal entity and that you're an authorized representative
* [Sample submissions](https://developers.facebook.com/docs/app-review/resources/sample-submissions)
* [Common reasons for rejection](https://developers.facebook.com/docs/app-review/submission-guide/common-mistakes)
* [Ongoing compliance checks](https://developers.facebook.com/docs/resp-plat-initiatives/individual-processes/ongoing-reviews)

### Microsoft

Microsoft's Publisher verification lets users outside of your MS Azure organization use MS apps on your instance.

* [Overview of Microsoft publisher verification](https://learn.microsoft.com/en-us/entra/identity-platform/publisher-verification-overview) - includes the benefits, requirements, and FAQs
* [How to mark your app as publisher verified](https://learn.microsoft.com/en-us/entra/identity-platform/mark-app-as-publisher-verified)
* [How to troubleshoot your publisher verification](https://learn.microsoft.com/en-us/entra/identity-platform/troubleshoot-publisher-verification) - includes information on completing the process and technical issues marking your app as publisher verified
